<p>content-list works!</p>

<div [ngClass]="{'content-card': true, 'first-card': isFirstCard}" (click)="displayContentDetails()">
  <h3>{{ content.title }}</h3>
  <img *ngIf="content.imgURL" src="{{ content.imgURL }}" alt="{{ content.style }}" (click)="displayContentDetails()">
  <p>{{ content.description }}</p>
  <p>Ingridients: {{ content.ingredients }}</p>
  <p *ngIf="content.type">Style: {{ content.style }}</p>
  <p *ngIf="content.tags && content.tags.length > 0">Tags: {{ content.tags.join(', ') }}</p>
</div>

<div *ngFor="let content of contentArray, let first=first">
    
    <app-content-card [content]="content" [isFirstCard]="first"></app-content-card>>
  </div>

  <div *ngFor="let item of contentItems | contentTypeFilter:'tutorial'">
 
  </div>
  <div>
   
    <h2>Contents with No Type</h2>
    <ul>
      <li *ngFor="let item of contentItems | contentTypeFilter">
        {{ item.title }}
      </li>
    </ul>
  </div>
  
 
  <div>
    
    <h2>Contents with No Type</h2>
    <ul>
      <li *ngFor="let item of contentItems | contentTypeFilter">
        <div class="content-card">
          {{ item.title }}
        </div>
      </li>
    </ul>
  </div>
  
  
  <div *ngFor="let type of contentTypes">
    <h2>Contents with Type: {{ type }}</h2>
    <ul>
      <li *ngFor="let item of contentItems | contentTypeFilter: type">
        <div class="content-card" [ngStyle]="{ 'color': getColorForType(type), 'background-color': getBackgroundColorForType(type) }">
          {{ item.title }}
        </div>
      </li>
    </ul>
  </div>

  <div>

    <label for="searchTitle">Search by Title:</label>
    <input type="text" id="searchTitle" [(ngModel)]="searchTitle">
    <button (click)="searchContentByTitle()">Search</button>
  

    <p [ngStyle]="{ 'color': searchResultColor }">{{ searchResultMessage }}</p>
  </div>
  
  
  
  